body {
  background-color: #c6cdff;
}

h1 {
    color: #3159c5;
    background-color: #4bb6f4;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 50px;
}

#title1 {
    color: #37968b;
    background-color: #ffffff;
    font-size: 25px;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#title2 {
    color: #6535a8;
    font-family: Comic Sans MS, Comic Sans, cursive;
}
img {
    width: 200px;
    margin: 10px;
}

#pic {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
  }